#about{
    display: flex;
    height: 100vw;
    width: 100vw;
    border: 1px solid red;
    margin-top: 54px;
    /* cursor: pointer; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    z-index: -1;
}
#resume{
    display: flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid green;
    justify-content: center;
    /* margin: 10px; */
    /* cursor: pointer; */
}
#skills{
    display: flex;
    height: 100vw;
    width: 100vw;
    border: 1px solid blue;
    /* margin: 10px; */
    /* cursor: pointer; */
}

.about {
    display: flex;
    margin-bottom: 20px;
}

.about-img {
    display: flex;
    border-radius: 100%;
}

.about-desc {
    display: flex;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

.about-a {
    display: flex;
    align-self: flex-start;
}

#testimonials > h2,h3 {
    display: flex;
    /* margin: 30%; */
    justify-content: center;
    
}
.center {
    display: flex;
    justify-content: center;

}

.t-name {
    display: flex;
    justify-content: center;
}
.t-t {
    display: flex;
    justify-content: center;
}